.recs-container {
  p {
    margin-bottom: 25px;
  }

  button {
    background-color: #7fddb9;
    padding: 0.5rem;
    border-radius: 0.75rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    cursor: pointer;
    transition: linear 0.05s;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
    line-height: 2rem;
    color: white;
    margin-bottom: 25px;

    img {
      width: 1.5rem;
    }
  }

  button:hover {
    background-color: #22b573;
    transition: linear 0.05s;
  }

  .rec-container {
    display: flex;

    img {
      width: 60px;
      margin-right: 25px;
      transform: translateY(-5%);
    }
    .rec-info {
      display: flex;
      flex-direction: columns;
      align-items: center;
      gap: 40px;

      .rec-info-datapoint {
        height: 100%;
        min-width: 117px;

        h2 {
          display: inline-block;
        }

        .rec-info-datapoint-labels {
          display: inline-block;
          height: 100%;
          transform: translateY(-20%);

          .rec-info-datapoint-flexbox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;
            height: 100%;

            img {
              width: 30px;
              flex-basis: 0;
            }

            p {
              font-size: 2rem;
              color: #22b573;
              flex-basis: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .recs-container {
    h1 {
      font-size: 1.75rem;
    }
    p {
      font-size: 1.25rem;
    }
    button {
      padding: 0.25rem;
      min-height: 2.5rem;
      min-width: 2.5rem;
      font-size: 1.25rem;
    }
    .rec-container {
      img {
        width: 30px;
        transform: translateY(-15%);
        margin-right: 10px;
      }
      .rec-info {
        gap: 0px;
        .rec-info-datapoint {
          h2 {
            font-size: 3rem;
          }

          .rec-info-datapoint-labels {
            .rec-info-datapoint-flexbox {
              gap: 0.0125rem;
              img {
                width: 15px;
              }

              p {
                font-size: 1.25rem;
              }
            }
          }
        }
      }
    }
  }
}
